*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

img{
    max-width: 80%;
}

.container{
    max-width: 800px;
    margin: 0 auto;
}

[class^='row']{
    display: flex;
    align-items: center;
}

[class^='col'] {
	align-items: center;
}

/*Wave*/
.wave-1hkxOo{
    color: rgb(203, 203, 203);
}

.wave-1hkxOo .rotate{
    color: rgb(203, 203, 203);
}

.wave-1hkxOo{
    transform: translate(0, 10px);
}

.wave-1hkxOo.reflection{
    transform: scaleY(-1);
}

.section.wave{
    background-color: rgb(203, 203, 203);
}

.footer-language h3,h4{
    color: blueviolet;
}

/*HEADER*/
header.header{
    background-color: #255EE9;
}

/*Colonne header cols-3*/
.row-cols-3{
    justify-content: space-between;
}

.row-cols-3 > .col{
    margin: 10px 0;
    padding: 5px;
}

/*Col Nav*/
nav > a{
    color: white;
    margin: 5px;
    text-decoration: none;
    font-size: 12px;
}

/*Col Button*/
.button button{
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    border: 0;
    font-size: 12px;
}

/*MAIN*/
main > section{
    padding: 30px 0;
}

/*Section Header*/
/*Piccolo container*/
.small.container{
    max-width: 700px;
    text-align: center;
    padding: 25px 25px;
}
.section-header{
    padding: 100px 0 50px 0;
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

.section-header .small.container{
    color: white;
}

.section-header .small.container > h1{
    font-size: 35px;
    padding-bottom: 25px;
}

.section-header .small.container p{
    line-height: 25px;
}

.section-header .small.container .button{
    padding: 10px;
}

.button .black-button{
    background-color: rgb(24, 24, 24);
    color: white;
}

/*CORPO PAGINA*/
/*Container*/
section .big.container{
    text-align: center;
}

/*Colonne*/
.container .row.row-reverse{
    flex-direction: row-reverse;
}

.col.col-big{
    flex-basis: 60%;
    text-align: right;
}

.col.col-small{
    flex-basis: 40%;
}

.col.col-big figure.img-left{
    text-align: left;
}

/*Text item*/
.col.col-small .text-item{
    padding: 55px 110px 55px 0;
}

.container.section .row-reverse .text-item{
    padding: 55px 0 55px 110px;
} 

.text-item h2{
    font-size: 25px;
    padding-bottom: 20px;
}

.text-item p{
    font-size: 10px;
    line-height: 15px;
}

/*Sezione Download*/
/*Stelle */
.big.container div.star{
    max-width: 400px;
    margin: 0 auto;
}

.star p{
    background-image: url(../img/stars.svg);
    background-size: contain;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 30px;
}

/*Bottone*/
.button .blue{
    background-color: rgb(22, 36, 36);
    color: white;
}


/*FOOTER*/
footer{
    background-color: rgb(66, 64, 89);
}

footer > section:first-child{
    border-bottom: 2px solid gray;
    padding: 5px 0 25px 0;
}

footer section:last-child{
    padding-top: 25px;
}

/*Row*/
.footer .row-cols-5{
    align-items: flex-start;
}

.row-cols-5 .col.col-30{
    flex-basis: 2/6;
}

.row-cols-5 :not(.col-30){
    flex-basis: calc((100%-2/6) / 4);
}


/*Impostazione lingua*/
.row-flag-center{
    align-items: center;
}

.col-30 .footer-language{
    font-size: 22px;
}

figure.ita{
    display: inline-block;
    padding: 10px 10px 0 0;
}

#language{
    border: 0;
    color: white;
    background-color: rgb(66, 64, 89);
}

.item-social i{
    padding: 5px;
    color: white;
}

/*Cols-5*/
/*Row Nav*/
.container.nav .row.between{
    justify-content: space-between;
}

.container.nav{
    padding: 15px 0;
}

.container.nav .row > *{
    padding: 5px;
}

.container.footer{
    padding: 30px 0;
}

.row-cols-5 .col li{
    list-style-type: none;
    line-height: 30px;
    color: white;
    font-size: 12px;
}